body {
    margin: 0;
    padding: 0;
}


/* Grid - Configs */

.grid-container {
    display: grid;
    grid-template-rows: 6fr 3fr 1fr;
    grid-template-areas: 'main-image'
                         'text-description'
                         'button-login-register'
                         ;        
    background-color: white;
}

.main-image {
    grid-area: main-image;
    background-color: rgba(145, 159, 229, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 50px 50px;
}

.text-description {
    grid-area: text-description;
    padding: 4%;
}

.button-login-register {
    grid-area: button-login-register;
    display: inline-block;
}


/* Text - Configs */

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
}

p {
    text-align: center;
}


/* Buttons - Config */

.buttons {
    text-align: center;
    margin-top: 2%;
}

.login {
    z-index: 1;
    position: relative;
    background-color: rgba(145, 159, 229, 1);
    border: solid 1px rgba(145, 159, 229, 1);
    border-radius: 30px;
    padding: 3.5%;
    padding-left: 12%;
    padding-right: 12%;
    color: white;
    font-size: 18px;
    margin-right: -18%;
}

.register {
    background-color: rgb(173, 185, 243);
    border: solid 1px rgb(173, 185, 243);
    border-radius: 30px;
    padding: 3.5%;
    padding-left: 20%;
    padding-right: 12%;
    color: white;
    font-size: 18px;
    z-index: -1;
}

.phone_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_title {
    color: rgba(255, 255, 255, 0.575);
    text-align: center;
    position: absolute;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

