.grid-container {
    display: grid;
    grid-template-rows: 15vh 53vh 20vh 12vh;
    grid-template-areas: 'header'
                         'form_itens'
                         'enterWith'
                         'next-previous-buttons';        
    background-color: white;
}


/* Header */

.header {
    grid-area: header;
    padding-top: 4vh;
    padding-left: 8vw;
    padding-right: 8vw;
    width: 100%;
        display: flex;
        justify-content: center; /* Alinhar no centro - HORIZONTAL */
        align-content: center; /* Alinhar no centro - VERTICAL */
        flex-wrap: wrap;  /* Alinhar no centro - VERTICAL */
}


.column {
    display: flex;
        justify-content: center; /* Alinhar no centro - HORIZONTAL */
        align-content: center; /* Alinhar no centro - VERTICAL */
        flex-wrap: wrap;  /* Alinhar no centro - VERTICAL */
}


.steps {
    height: 6vh;
    width: 6vh;
    padding: 1vh;
    text-align: center;
    border: solid 3px rgba(145, 159, 229, 1);
    border-radius: 50%;
    color: rgba(145, 159, 229, 1);
}

.conclued {
    background-color: rgba(145, 159, 229, 1);
    color: white;
}

.line {
    height: 3vh;
    width: 8vh;
    border-bottom: solid 3px rgba(145, 159, 229, 1);
}

.information_step {

}

.quiz_step {
   
}

.theme_step {
    text-align: center;
}

/* Form - Register */

.form_itens {
    grid-area: form_itens;
        display: flex;
        justify-content: center; /* Alinhar no centro - HORIZONTAL */
        align-content: center; /* Alinhar no centro - VERTICAL */
        flex-wrap: wrap;  /* Alinhar no centro - VERTICAL */
}

form {
    display: block;
}

.select_div {
    width: 83vw;
    height: 6vh;
    margin-top: 1vh;
    padding: 10px 20px 12px 10px;
    border: 1px solid rgba(145, 159, 229, 1);
    border-radius: 10px;
        box-sizing: border-box;
}

select {  
    display: inline-block;
    width: 100%;
    border: none;
    outline: none;
}

option {
    padding: 0px 2px 1px;
}

form label {
    display: block; /* Manter o label sobre o input */
    margin-top: 2vh;
    color: #666161;
    font-weight: 500;
    font-size: 16px;
}

form input {
    width: 83vw;
    height: 6vh;
    margin-top: 1vh;
    padding: 2vh;

    background-color: rgb(223, 228, 254);
    border: solid 1px rgb(223, 228, 254);
    border-radius: 10px;
}

form input:focus {
    outline: rgb(223, 228, 254);
}


/* Enter With... */

.enterWith  {
    grid-area: enterWith;
}

.textLine {
    height: 6vh;
    width: 80vw;
    text-align: center;
    margin-left: 10vw;
    padding-top: 4vh;
    border-bottom: solid 3px rgba(145, 159, 229, 1);
}

.enterText {
    width: 38vw;
    text-align: center;
    margin-left: 20vw;
    background-color: white;
}

.buttons {
    text-align: center;
    padding-top: 6vh;
}

.googleIcon {
    z-index: 1;
    position: relative;
    color: white;
    font-size: 18px;

    height: 5vh;
    margin-top: -.7vh;
    margin-right: -12vw;
    padding: 1.5%;
    padding-left: 2vw;
    padding-right: 2vw;
    
    background-color: white;
    border: solid 1px rgba(145, 159, 229, 1);
    border-radius: 30px;    
}

.googleText {
    z-index: -1;
    align-items: center;
    color: black;
    font-size: 18px;
    padding: .25em;

    padding-left: 17vw;
    padding-right: 11vw;

    background-color: white;
    border: solid 1px rgba(145, 159, 229, 1);
    border-radius: 30px;
}


/* Previous and Next - Buttons*/

.next-previous-buttons{
    grid-area: next-previous-buttons;
    padding-left: 8vw;
    padding-right: 8vw;
        display: flex;
        justify-content: space-between;
        align-content: center; /* Alinhar no centro - VERTICAL */
        flex-wrap: wrap;  /* Alinhar no centro - VERTICAL */
}

.next-previous-buttons button {
    align-items: center;
    color: rgba(145, 159, 229, 1);
    font-size: 19px;
    font-weight: 500;

    height: 6vh;

    background-color: white;
    border: solid 0px ;
}

.next_button {
    width: 6vh;
    height: 6vh;
}
