body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Grid - Configs */

.grid-container {
    display: grid;
    grid-template-rows: 37vh 51vh 12vh;
    grid-template-areas: 'text-description'
                         'textWelcome'
                         'next-previous-buttons';        
    background-color: white;
}

.text-description {
    grid-area: text-description;
    margin-top: -2vh;
    padding-left: 6vw;
    padding-right: 6vw;
        display: flex;
        flex-direction: column;
        justify-content: center; /* ALinhar no centro - HORIZONTAL */
        align-content: center; /* Alinhar no centro - VERTICAL */
        flex-wrap: wrap;  /* Alinhar no centro - VERTICAL */

    background-color: rgba(145, 159, 229, 1);
    border-radius: 0px 0px 50px 50px;
}

.textWelcome {
    padding-top: 5vh;
    padding-left: 8vw;
    padding-right: 24vw;
}

.next-previous-buttons {
    grid-area: next-previous-buttons;
    height: 10vh;
    padding-left: 8vw;
    padding-right: 8vw;
        display: flex;
        justify-content: space-between;
        align-content: center; /* Alinhar no centro - VERTICAL */
        flex-wrap: wrap;  /* Alinhar no centro - VERTICAL */
}


/* Text Description - Config */

.title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.subtitle {
    display: block;
    text-align: center;
    margin-top: -2vh;
}

p {
    text-align: center;
}


/* Text Welcome - Config */

.textTitle {
    font-size: 24px;
}

.text {
    text-align: justify;
}


/* Buttons - Config */

.next-previous-buttons button {
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 500;

    height: 6vh;
    
    padding-left: 8vw;
    padding-right: 8vw;

    background-color: rgba(145, 159, 229, 1);
    border: solid 1px rgba(145, 159, 229, 1);
    border-radius: 30px;
}

.previous_button {
    width: 6vh;
    height: 6vh;
}

.buttons {
    text-align: center;
    margin-top: 2%;
}
