body {
    margin: 0;
    padding: 0;
}


/* Grid - Configs */

.grid-container {
    display: grid;
    grid-template-rows: 50vh 35vh 15vh;
    grid-template-areas: 'main-image'
                         'text-description'
                         'button-login-register'
                         ;        
    background-color: white;
}

.main-image {
    grid-area: main-image;
    background-color: rgba(145, 159, 229, 1);
    border-radius: 0px 0px 50px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
}

.text-description {
    grid-area: text-description;
    padding-left: 6vw;
    padding-right: 6vw;
        display: flex;
        flex-direction: column;
        justify-content: center; /* ALinhar no centro - HORIZONTAL */
        align-content: center; /* Alinhar no centro - VERTICAL */
        flex-wrap: wrap;  /* Alinhar no centro - VERTICAL */
}

.button-login-register {
    grid-area: button-login-register;
        display: inline-block;
        text-align: center;
        margin-top: 2%;
}


/* Main Logo - Config */

.phone_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_title {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    color: rgba(255, 255, 255, 0.575);    
}


/* Text - Configs */

.title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.subtitle {
    display: block;
    text-align: center;
    margin-top: -2vh;
}

p {
    text-align: center;
}


/* Buttons - Config */


.login {
    z-index: 1;
    position: relative;
    color: white;
    font-size: 18px;
    
    margin-right: -18%;
    padding: 3.5%;
    padding-left: 10vw;
    padding-right: 10vw;

    background-color: rgba(145, 159, 229, 1);
    border: solid 1px rgba(145, 159, 229, 1);
    border-radius: 30px;  
}

.register {
    z-index: -1;
    color: white;
    font-size: 18px;

    padding: 3.5%;
    padding-left: 25vw;
    padding-right: 10vw;

    background-color: rgb(173, 185, 243);
    border: solid 1px rgb(173, 185, 243);
    border-radius: 30px;
}
